<!-- Include Header -->
<%- include layout/indexHeader.ejs %>

<!-- Showing Employee Data List -->
<div class="container">
    <div class="table-wrapper">
        <div class="center">
            <img src="/img/employee.png" height="300" width="330" class="center">
        </div>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Employees</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="/input" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                        <span>Add New Employee</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <!-- Showing all the EmployeeData List -->
                <% if(data){ %>
                <% data.forEach(function(employee){ %>
                <tr>
                    <td><%= employee.name %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.address %></td>
                    <td><%= employee.phone %></td>
                </tr>
                <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<!-- Include Footer -->
<%- include layout/indexFooter.ejs %>